.referral-system-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 500px;
    margin: 0 auto!important;
}

.referral-system-form-btn {
    background: #498EDF!important;
    color: black!important;
}

.referral-system-titile {
    font-size: 22px!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    margin-bottom: 50px!important;
}