.profile-settings-container {
    margin-top: 40px!important;
}

.profile-settings-field {
    width: 80%;
    margin-left: 25px!important;
}

.profile-settings-title {
    font-size: 28px!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    margin-left: 25px!important;
    margin-bottom: 20px!important;
}

.profile-settings-second-title {
    font-size: 22px!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    margin-left: 25px!important;
    margin-bottom: 25px!important;
}

.profile-settings-footer {
    margin-top: 50px!important;
}

.profile-settings-change-title {
    font-size: 28px!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    margin-top: 35px!important;
    margin-bottom: 15px!important;
    margin-left: 25px!important;
}

.profile-settings-field {
    margin-bottom: 15px!important;
}

.profile-settings-field-email {
    width: 550px;
    margin-left: 25px!important;
}

.profile-settings-save-changes {
    background: #498EDF!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    color: white!important;
    font-weight: 700!important;
    height: 45px;
    width: 300px;
    margin-top: 25px!important;
}

.profile-settings-save-changes:hover {
    background: #277fe4!important;
}

.profile-settings-exit {
    background: #E4E4E4!important;
    color: #000000!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    height: 45px;
    width: 280px;
    margin-top: 25px!important;
    margin-left: 25px!important;
}

.profile-settings-exit:hover {
    background: #c4c4c4!important;
}

.profile-settings-btns {
    display: flex;
    flex-direction: row;
    margin-left: 25px!important;
}

.profile-settings-avatar {
    background: #E4E4E4!important;
    color: black!important;
    margin-left: 25px!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    height: 45px;
    width: 200px;
    margin-bottom: 25px!important;
    margin-top: 10px!important;
}


.profile-settings-avatar:hover {
    background: #c4c4c4!important;
}

.profile-settings-avatar-img {
    width: 200px;
    margin-left: 25px!important;
}

.profile-settings-avatar-title {
    font-size: 20px!important;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    margin-left: 40px!important;
    margin-bottom: 15px!important;
}