.header-link {
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    margin-right: 15px!important;
    font-size: 18px!important;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header-link:hover {
    color: #e3e3e3!important;
    transition: 0.5s;
}

.header-user-container {
    text-align: center;
    margin-right: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.header-username {
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 400!important;
    font-size: 14px!important;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-top: -7px!important;
}

.header-user-avatar {
    width: 40px;
    border-radius: 50%;
}

.header-text-field label {
    color: #fff!important;
    border-bottom-right-radius: 0!important;
}
.header-text-field .MuiOutlinedInput-notchedOutline {
    border-color: white;
}
.header-text-field :hover .MuiOutlinedInput-notchedOutline {
    border-color: white!important;
}
.header-text-field  .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white!important;
}
.header-text-field .MuiInputBase-input {
    color: white;
}

.header-form-button {
    background: white!important;
    height: 55px;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.report-form-header {
    flex-grow: 5;
}

@media (max-width: 1200px) {
    .report-form-header {
        display: none!important;
    }
}