.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #498EDF!important;
    height: 65px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
    margin-top: 0;
    z-index: 100000; 
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-logo {
    max-width: 200px;
}

.header-link-container {
    display: flex;
}

.header-toolbar-links {
    display: flex;
    flex-direction: row;
}

.header-link-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 100%!important;
}

.header-link-item:hover {
    background: #277FE4!important;
}

.header-link-text {
    color: white;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    font-size: 18px!important;
    padding-right: 10px;
    padding-left: 10px;
}

.header-user-info {
    display: flex;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}
.header-user-avatar {
    width: 40px;
    
}
.header-user-name {
    color: #fff;
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 400!important;
    font-size: 14px;
    margin-top: -5px!important;
}

.header-logout-logo {
    color: #fff;
    margin-right: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.header-report-form {
    display: flex;
    align-items: center;
}

.header-menu-btn {
    display: none!important;
    color: white!important;
}

@media (max-width: 950px) {
    .header-toolbar-links {
        display: none;
    }
    .header-menu-btn {
        display: block!important;
    }
    .header-logo {
        max-width: 160px;
        height: 55px;
    }
}

@media (max-width: 1200px) {
    .header-report-form {
        display: none;
    }
}