
.header-link {
    font-family: 'Ysabeau Infant', sans-serif!important;
    font-weight: 700!important;
    margin-right: 15px!important;
    cursor: pointer;
}

@media (max-width: 675px) {
    .header-link {
        font-size: 12px!important;
    }
}

@media (max-width: 675px) {
    .header-link {
        display: none;
    }
}
