{% extends './BaseEmail.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <p>Мы получили запрос на смену пароля для вашей учетной записи</p>
    <p class='content-info'>Для завершения процедуры смены пароля, перейдите по указаной ниже ссылке</p>
    <a
        href="{{ protocol }}://{{ domain }}/{{ url }}"
        id="button"
        style="color: #ffffff; text-decoration: none; cursor: pointer;"
    >
        Сменить пароль
    </a>
{% endblock %}