.text-animation-video {
    width: 150px;
}

.white-car-video {
    width: 400px;
}

@media (max-width: 675px) {
    .text-animation-video {
        width: 120px;
    }
    
    .white-car-video {
        width: 340px;
    }
}

@media (max-width: 550px) {
    .text-animation-video {
        width: 100px;
    }
    
    .white-car-video {
        width: 300px;
    }
}

@media (max-width: 440px) {
    .text-animation-video {
        width: 60px;
    }
    
    .white-car-video {
        width: 200px;
    }
}